<header class="banner">
    <div class="banner-content">
      <app-dynamic-title titleText="About: Austen Furutani" [titles]="[]"></app-dynamic-title>
    </div>
</header>
<app-navbar></app-navbar>


<div class="center-div">
  <div class="profile-card">
    <h2>Austen Furutani</h2>
    <p class="description">
        Recent graduate from the University of Portland. <br>
        B.S. Computer Science<br>
        <br>
        <b>"If I'm not learning something new everyday, I'm living life wrong"</b><br>
        <br>
        Previously Interned at Tektronix <br> 
        Currently a Full-time App Developer at Fisher Investments.
    </p>
    <div class="icon-container">
        <a href="https://www.linkedin.com/in/austen-furutani/" target="_blank"><img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" alt="LinkedIn"></a>
        <a href="mailto:aust.furu@gmail.com"><img src="https://icons.iconarchive.com/icons/uiconstock/socialmedia/512/Email-icon.png" alt="Email"></a>
        <a href="https://github.com/furutania" target="_blank"><img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="GitHub"></a>
    </div>
  </div>
</div>