

<header class="banner">
    <div class="banner-content">
      <app-dynamic-title titleText="Austen Furutani: " [titles]="['Back-End Developer', 'Frontend Developer', 'Software Engineer']"></app-dynamic-title>
    </div>
  </header>
  <app-navbar></app-navbar>

<div class="center-div">
<main class="main">
  <div class="content">
    <div class="left-side">
      <h1>Projects</h1>
      <h1></h1>
      <app-project></app-project>
      <h2>More project overviews on the way:</h2>
      <p>For a comprehensive list feel free to visit my GitHub by clicking the icon on the bottom left!</p>
    </div>
  </div>
</main>
</div>